/* header section */
.site-header {
    padding: 1.5rem 0;
    width: 100%;
    position: absolute;
    z-index: 99;
}

.site-header nav {
    display: flex;
    align-items: center;
}

.site-logo {
    max-width: 120px;
    line-height: 1;
}

.site-logo svg {
    width: 100%;
}

.site-header .nav__list {
    display: inline-flex;
    margin-bottom: 0;
}


.site-header .nav__list-item {
    padding: 0 1rem;
}

.site-header .nav__link {
    color: #ffffff;
}

.site-header .nav__link.active {
    color: #e6e6e6;
}

.site-header .nav__link:hover,
.site-header .nav__link:focus {
    color: #e6e6e6;
}

.site-header .menu-btn {
    display: none;
    color: #ffffff;
}

.site-header .menu-line {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
}

/* header-section responsive */
@media(min-width:576px) {
    .site-logo {
        max-width: 150px;
    }
}

@media(min-width:768px) {
    .site-logo {
        margin-right: 2rem;
    }
}

@media(min-width:992px) {
    .site-header {
        padding: 3rem 0;
    }
}


@media(min-width:1600px) {
    .site-header {
        padding: 5rem 0;
    }

    .site-logo {
        max-width: 200px;
    }
}



@media(max-width:767px) {

    .site-header nav {
        justify-content: space-between;
    }    

    .site-header .nav__list {
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        background: #000;
        transform: translateX(-100%);
        transition: .2s all ease-in-out;
    }

    .site-header .nav__list-item {
        margin: 2rem 0;
        /* opacity: 0; */
    }

    .site-header .menu-btn {
        display: block;
        cursor: pointer;
    }
}

.site-header .nav__list-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,  6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,  -6px);
}