/* section hero style */
.hero__slider {
    position: relative;
}

.hero .inner {
    margin: 0;
    align-items: center;
}

.hero .inner-item {
    padding: 0;
}

.hero__figure {
    margin-bottom: 0;
}

.hero__figure img {
    width: 100%;
}

.hero__content {
    max-width: 385px;
    margin-left: 2rem;
}

.hero__title {
    line-height: 1.2;
}

.hero .shop-link {
    display: inline-block;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #000000;
    line-height: 1;
}

.hero .shop-link:hover,
.hero .shop-link:focus {
    color: #a1a1a1;
}

.hero .shop-link i {
    font-size: 1.75rem;
    font-weight: 600;
    vertical-align: middle;
}

/* hero section responsive */

@media(min-width:576px) {
    .hero__title {
        margin-bottom: 1rem;
    }
}

@media(min-width:992px) {
    .hero__content {
        padding-right: 1rem;
    }

    .hero .shop-link {
        padding: 0 0 1rem;
    }
}

@media(min-width:1200px) {

    .hero__content {
        max-width: 540px;
        margin-left: 3rem;
    }

    .hero .shop-link {
        padding: .5rem 0 1rem;
        font-size: 1rem;
        letter-spacing: 8px;
    }

    .hero .shop-link i {
        font-size: 2.5rem;
    }
}

@media(min-width:1600px) {
    .hero__content {
        margin-left: 5rem;
    }

    .hero__title {
        margin-bottom: 2rem;
    }

    .hero .shop-link {
        padding: 1.25rem 0;
        font-size: 1.125rem;
    }

    .hero .shop-link i {
        font-size: 3rem;
    }
}

@media(max-width:991px) {
    .hero__content {
        max-width: 700px;
        margin: 2rem auto;
        padding: 0 0.9375rem;
    }

    .hero__figure img {
        height: 450px;
        object-fit: cover;
        font-family: 'object-fit: cover;';
    }
}

@media(max-width:767px) {
    .hero__content {
        margin: 1.5rem auto;
    }

    .hero__figure img {
        height: 360px;
    }
}

@media(max-width:575px) {
    .hero__figure img {
        height: 300px;
    }
}